<div class="row">
  <div class="col-md-8 col-lg-6 mx-auto mt-3">
    <div class="card card-header-pills mb-1">
      <div class="card-header">
        <div class="row">
          <div class="col-11">
            <h5>{{project.projectName}}</h5>
          </div>
          <div class="col-1">
            <ng-content></ng-content>
          </div>
        </div>

      </div>
      <div class="card-body">
        <table class="table table-borderless table-sm">
          <tr>
            <th>Date Of Start</th>
            <td>{{project.dateOfStart}}</td>
          </tr>
          <tr>
            <th>Team Size</th>
            <td><span class="text-info">{{project.teamSize | numberToWord}}</span>({{project.teamSize}}) </td>
          </tr>
          <tr>
            <th>Client Location</th>
            <td>{{project.clientLocation?.clientLocationName}}</td>
          </tr>
          <tr>
            <th>Project Status</th>
            <td>{{project.status}}</td>
          </tr>
        </table>
      </div>
      <div class="card-footer">
        <a class="btn btn-primary pl-3" [routerLink]="['/projects']">Back</a>

      </div>
    </div>
  </div>
</div>

