<h1>Projects</h1>
<i class="fa fa-circle-o-notch fa-spin" style="font-size: 34px;" *ngIf="isProjectLoading"></i>
<div class="row">
  <div class="col-12 mx-auto">
    <div class="form-group form-row">
      <div class="col-2">
        <button class="btn btn-primary" (click)="onNewClick($event)" data-toggle="modal" data-target="#newModal">Create Project
        </button>
      </div>
      <div class="col-2">
        <button class="btn btn-primary" (click)="onHideShow($event)">Show/Hide Toggle</button>
      </div>
      <div class="col-2  custom-checkbox">
        <input type="checkbox" value="true" name="isAllChecked" id="isAllChecked" [(ngModel)]="isAllChecked" [ngModelOptions]="{standalone: true}"
               (change)="isAllChangeClick($event)">
<!--        <label for="isAllChecked" class="custom-control-label"></label>-->
      </div>
      <label for="drpSearchBy" class="custom-control-label col-1">Search To</label>
      <div class="col-2">
        <select class="form-control" id="drpSearchBy" name="searchBy" [(ngModel)]="searchBy" [ngModelOptions]="{standalone: true}">
          <option value="projectID">projectId</option>
          <option value="projectName">projectName</option>
          <option value="dateOfStart">dateOfStart</option>
          <option value="teamSize">teamSize</option>
        </select>
      </div>
      <label for="drpSearchBy" class="col-form-label col-1">Search By</label>
      <div class="col-2">
        <div class="input-group">
          <input type="text" class="form-control"
                 id="txtSearchText" name="searchText"
                 [(ngModel)]="searchText" (keyup)="onSearchTextKeyUp($event)">
<!--          <div class="input-group-append" (click)="onSearchClick()">-->
<!--            <span class="input-group-text"><i class="fa fa-search"></i></span>-->
<!--          </div>-->
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 mx-auto">

    <div class="row">
      <div class="col-md-4 mb-1 projectCard" *ngFor="let project of pro| filter: searchBy: searchText
        | paging :currentPageIndex: pageSize; let i = index;">
        <app-project [currentInput]="project"
                     [num]="i"
                     (editProject)="onEditClick($event, i)"
                     (deleteProject)="onDeleteClick($event, i)"
                     #toggleButton>
          <app-checkboxprinter #selectionBox></app-checkboxprinter>
        </app-project>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
          <ul class="pagination justify-content-center mt-1">
            <li class="page-item" *ngFor="let page of pages" (click)="onPageIndexClick(page.pIndex)"
            [ngClass]="{'active': this.currentPageIndex === page.pIndex}">
              <a class="page-link" href="#" onclick = "return false">{{page.pIndex + 1}}</a></li>
          </ul>

      </div>
    </div>
  </div>
</div>

<!-- Add New Projects -->
<form #newForm="ngForm" novalidate="novalidate">
  <div class="modal" role="dialog" id="newModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <div class="modal-title">New Projects</div>
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">

          <div class="form-group row">
            <label for="newProjectId" class="col-sm-4 col-form-label">Project ID</label>
            <div class="col-sm-8">
              <input type="text" id="newProjectId" class="form-control"
                     placeholder="Project ID" name="projectID" [(ngModel)]="newProject.projectId"
                     required pattern="^[0-9]*$" appProjectIdUniqueValidators #newProjectID="ngModel"
                     #prjFocus
                     [ngClass]="{'is-invalid':newProjectID.invalid && (newProjectID.dirty||newProjectID.touched || newForm.submitted)
                                  , 'is-valid': newProjectID.valid && (newProjectID.dirty||newProjectID.touched|| newForm.submitted)}">
              <span class="text-danger" *ngIf="newProjectID.invalid && (newProjectID.dirty||newProjectID.touched || newForm.submitted)&&
                                                newProjectID.errors?.required">Project ID cannot be blank.</span>
              <span class="text-danger" *ngIf="newProjectID.invalid && (newProjectID.dirty||newProjectID.touched || newForm.submitted)&&
                                                newProjectID.errors?.pattern">Project ID must be number.</span>
              <span class="text-danger" *ngIf="newProjectID.invalid && (newProjectID.dirty||newProjectID.touched || newForm.submitted)&&
                                                newProjectID.errors?.uniqueProjectId">Project Id is duplicate</span>
            </div>
          </div>

          <div class="form-group row">
            <label for="newProjectName" class="col-sm-4 col-form-label">Project Name</label>
            <div class="col-sm-8">
              <input type="text" id="newProjectName" class="form-control" placeholder="Project Name" minlength="3"
                     maxlength="30" name="projectName" [(ngModel)]="newProject.projectName" [ngModelOptions]="{standalone: true}"
                     required="required" pattern="^[A-Za-z0-9 /-]*$" #newProjectName="ngModel"
                     [ngClass]="{'is-invalid':newProjectName.invalid && (newProjectName.dirty||newProjectName.touched || newForm.submitted)
                                  , 'is-valid': newProjectName.valid && (newProjectName.dirty||newProjectName.touched|| newForm.submitted)}">
              <span class="text-danger" *ngIf="newProjectName.invalid && (newProjectName.dirty||newProjectName.touched || newForm.submitted)&&
                                                newProjectName.errors?.required">Project Name cannot be blank.</span>
              <span class="text-danger" *ngIf="newProjectName.invalid && (newProjectName.dirty||newProjectName.touched || newForm.submitted)&&
                                                newProjectName.errors?.pattern">Project Name contains alphabate digit and char.</span>
              <span class="text-danger" *ngIf="newProjectName.invalid && (newProjectName.dirty||newProjectName.touched || newForm.submitted)&&
                                                newProjectName.errors?.minlength">Project Name must be geater than 3.</span>
              <span class="text-danger" *ngIf="newProjectName.invalid && (newProjectName.dirty||newProjectName.touched || newForm.submitted)&&
                                                newProjectName.errors?.maxlength">Project Name must be less than 30</span>
            </div>
          </div>

          <div class="form-group row">
            <label for="newDateOfStart" class="col-sm-4 col-form-label">Date Of Start</label>
            <div class="col-sm-8">
              <input type="date" id="newDateOfStart" class="form-control" placeholder="Date of Start"
                     required="required" name="dateOfStart" [(ngModel)]="newProject.dateOfStart" [ngModelOptions]="{standalone: true}"
                     #newProjectDate="ngModel" [ngClass]="{'is-invalid':newProjectDate.invalid && (newProjectDate.dirty||newProjectDate.touched || newForm.submitted)
                                  , 'is-valid': newProjectDate.valid && (newProjectDate.dirty||newProjectDate.touched|| newForm.submitted)}">
              <span class="text-danger" *ngIf="newProjectDate.invalid && (newProjectDate.dirty||newProjectDate.touched || newForm.submitted)&&
                                                newProjectDate.errors?.required">Project date cannot be empty</span>
            </div>
          </div>

          <div class="form-group row">
            <label for="newTeamSize" class="col-sm-4 col-form-label">Team Size</label>
            <div class="col-sm-8">
              <input type="text" id="newTeamSize" class="form-control" appTeamsizevalidator="5" placeholder="Team Size"
                     name="teamSizes" [(ngModel)]="newProject.teamSize" [ngModelOptions]="{standalone: true}" pattern="[0-9]*$"
                     #newTeamSize="ngModel" [ngClass]="{'is-invalid':newTeamSize.invalid && (newTeamSize.dirty||newProjectID.touched || newForm.submitted)
                                  , 'is-valid': newTeamSize.valid && (newTeamSize.dirty||newTeamSize.touched|| newForm.submitted)}">
              <span class="text-danger" *ngIf="newTeamSize.invalid && (newTeamSize.dirty||newTeamSize.touched || newForm.submitted)&&
                                                newTeamSize.errors?.pattern">Team size must be number</span>
              <span class="text-danger" *ngIf="newTeamSize.invalid && (newTeamSize.dirty||newTeamSize.touched || newForm.submitted)&&
                                                newTeamSize.errors?.divisible">Team size must be divisible by 5.</span>
            </div>
          </div>

          <div class="form-group row">
            <label for="Active" class="col-sm-4 col-form-label">Active</label>
            <div class="col-sm-8">
              <div class="form-check">
                <input type="checkbox" id="Active" class="form-check-input" value="true"
                       [(ngModel)]="newProject.active" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="statusInForces" class="col-sm-4 col-form-label">Status</label>
            <div class="col-sm-8">
              <div class="form-check form-check-inline">
                <input type="radio" id="statusInForces" class="form-check-input" name="statusForce"
                       [(ngModel)]="newProject.status" [ngModelOptions]="{standalone: true}">
                <label for="statusInForces" class="form-check-label">In Force</label>
              </div>
              <div class="form-check form-check-inline">
                <input type="radio" id="statusInSupport" class="form-check-input" name="statusSupport"
                       [(ngModel)]="newProject.status" [ngModelOptions]="{standalone: true}">
                <label for="statusInSupport" class="form-check-label">Support</label>
              </div>

            </div>
          </div>

          <div class="form-group row">
            <label for="clientLoaction" class="col-sm-4 col-form-label">Client Location</label>
            <div class="col-sm-8">
              <select id="clientLoaction" class="form-control" name="clientLocation"
                      [(ngModel)]="newProject.clientLocationId" [ngModelOptions]="{standalone: true}" required="required"
                      #newClientLocation="ngModel" [ngClass]="{'is-invalid':newClientLocation.invalid && (newClientLocation.dirty||newProjectID.touched || newForm.submitted)
                                  , 'is-valid': newClientLocation.valid && (newClientLocation.dirty||newClientLocation.touched|| newForm.submitted)}">
                <option value="null">Please Select</option>
                <option *ngFor="let clientLocation of clientLocation" [value]="clientLocation.clientLocationId">
                  {{clientLocation.clientLocationName}}
                </option>
              </select>
              <span class="text-danger" *ngIf="newClientLocation.invalid && (newClientLocation.dirty||newClientLocation.touched || newForm.submitted)&&
                                                newClientLocation.errors?.required">Select at least one value</span>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal" id="newFormCancel">Cancel</button>
          <button class="btn btn-success" (click)="onSaveClick()">Save</button>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- Edit Projects -->
<form>
  <div class="modal" role="dialog" id="editModal" appAppClientLocationValidator>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">Edit Projects</div>
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <label for="editProjectId" class="col-sm-4 col-form-label">Project ID</label>
            <div class="col-sm-8">
              <input type="text" id="editProjectId" class="form-control-plaintext"
                     placeholder="Project ID" name="projectID" [(ngModel)]="editProject.projectId" [ngModelOptions]="{standalone: true}" disabled="disabled">
            </div>
          </div>

          <div class="form-group row">
            <label for="editProjectName" class="col-sm-4 col-form-label">Project Name</label>
            <div class="col-sm-8">
              <input type="text" id="editProjectName" class="form-control" placeholder="Project Name" name="projectName"
                     [(ngModel)]="editProject.projectName" [ngModelOptions]="{standalone: true}"
                     required="required" pattern="^[A-Za-z0-9 /-]*$" #editProjectName="ngModel"
                     [ngClass]="{'is-invalid':editProjectName.invalid && (editProjectName.dirty||editProjectName.touched || newForm.submitted)
                                  , 'is-valid': editProjectName.valid && (editProjectName.dirty||editProjectName.touched|| newForm.submitted)}">
              <span class="text-danger" *ngIf="editProjectName.invalid && (editProjectName.dirty||editProjectName.touched || newForm.submitted)&&
                                                editProjectName.errors?.required">Project Name cannot be blank.</span>
              <span class="text-danger" *ngIf="editProjectName.invalid && (editProjectName.dirty||editProjectName.touched || newForm.submitted)&&
                                                editProjectName.errors?.pattern">Project Name contains alphabate digit and char.</span>
              <span class="text-danger" *ngIf="editProjectName.invalid && (editProjectName.dirty||editProjectName.touched || newForm.submitted)&&
                                                editProjectName.errors?.minlength">Project Name must be geater than 3.</span>
              <span class="text-danger" *ngIf="editProjectName.invalid && (editProjectName.dirty||editProjectName.touched || newForm.submitted)&&
                                                editProjectName.errors?.maxlength">Project Name must be less than 30</span>
              <span class="text-danger" *ngIf="editForm && editForm.invalid && (editForm.dirty||editForm.touched || editForm.submitted)&&
                                                editForm.errors?.clientLocationStatus">PForm name is Nepal. form leve eror.</span>
            </div>
          </div>

          <div class="form-group row">
            <label for="editDateOfStart" class="col-sm-4 col-form-label">Date Of Start</label>
            <div class="col-sm-8">
              <input type="date" id="editDateOfStart" class="form-control" placeholder="Date of Start"
                     name="editDateOfStart" [(ngModel)]="editProject.dateOfStart" [ngModelOptions]="{standalone: true}"
                     #editDateOfStart="ngModel" [ngClass]="{'is-invalid':editDateOfStart.invalid && (editDateOfStart.dirty||editDateOfStart.touched || newForm.submitted)
                                  , 'is-valid': editDateOfStart.valid && (editDateOfStart.dirty||editDateOfStart.touched|| newForm.submitted)}">
              <span class="text-danger" *ngIf="editDateOfStart.invalid && (editDateOfStart.dirty||editDateOfStart.touched || newForm.submitted)&&
                                                editDateOfStart.errors?.required">Project date cannot be empty</span>
            </div>
          </div>

          <div class="form-group row">
            <label for="editTeamSize" class="col-sm-4 col-form-label">Team Size</label>
            <div class="col-sm-8">
              <input type="number" id="editTeamSize" class="form-control" placeholder="Team Size" name="editTeamSize"
                     [(ngModel)]="editProject.teamSize" [ngModelOptions]="{standalone: true}"
                     pattern="[0-9]*$"
                     appTeamsizevalidator="5" #editTeamSize="ngModel" [ngClass]="{'is-invalid':editTeamSize.invalid && (editTeamSize.dirty||newProjectID.touched || newForm.submitted)
                                  , 'is-valid': editTeamSize.valid && (editTeamSize.dirty||editTeamSize.touched|| newForm.submitted)}">
              <span class="text-danger" *ngIf="editTeamSize.invalid && (editTeamSize.dirty||editTeamSize.touched || newForm.submitted)&&
                                                editTeamSize.errors?.pattern">Team size must be number</span>
              <span class="text-danger" *ngIf="editTeamSize.invalid && (editTeamSize.dirty||editTeamSize.touched || newForm.submitted)&&
                                                editTeamSize.errors?.divisible">Team size must be divisible by 5</span>
            </div>
          </div>
          <div class="form-group row">
            <label for="editActive" class="col-sm-4 col-form-label">Active</label>
            <div class="col-sm-8">
              <div class="form-check">
                <input type="checkbox" id="editActive" class="form-check-input" value="true"
                       [(ngModel)]="editProject.active" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="editstatusInForce" class="col-sm-4 col-form-label">Status</label>
            <div class="col-sm-8">
              <div class="form-check form-check-inline">
                <input type="radio" id="editstatusInForce" class="form-check-input" name="status"
                       [(ngModel)]="editProject.status" [ngModelOptions]="{standalone: true}">
                <label for="editstatusInForce" class="form-check-label">In Force</label>
              </div>
              <div class="form-check form-check-inline">
                <input type="radio" id="editstatusInSupport" class="form-check-input" name="status"
                       [(ngModel)]="newProject.status" [ngModelOptions]="{standalone: true}">
                <label for="editstatusInSupport" class="form-check-label">Support</label>
              </div>

            </div>
          </div>

          <div class="form-group row">
            <label for="editclientLoaction" class="col-sm-4 col-form-label">Client Location</label>
            <div class="col-sm-8">
              <select id="editclientLoaction" class="form-control" name="clientLocation"
                      [(ngModel)]="editProject.clientLocationId" [ngModelOptions]="{standalone: true}" required="required"
                      #editClientLocation="ngModel" [ngClass]="{'is-invalid':editClientLocation.invalid && (editClientLocation.dirty||newProjectID.touched || newForm.submitted)
                                  , 'is-valid': editClientLocation.valid && (editClientLocation.dirty||editClientLocation.touched|| newForm.submitted)}">>
                <option value="null">Please Select</option>
                <option *ngFor="let client of clientLocation" [value]="client.clientLocationId">
                  {{client.clientLocationName}}
                </option>
              </select>
              <span class="text-danger" *ngIf="editClientLocation.invalid && (editClientLocation.dirty||editClientLocation.touched || newForm.submitted)&&
                                                editClientLocation.errors?.required">Select at least one value</span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" id="editFormCancel" data-dismiss="modal">Cancel</button>
          <button class="btn btn-success" (click)="onUpdateClick()">Update</button>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- Delete Projects -->
<form>
  <div class="modal" role="dialog" id="deleteModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">Delete Projects</div>
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">

          <div class="form-group row">
            <label for="deleteProjectId" class="col-sm-4 col-form-label">Project ID</label>
            <div class="col-sm-8">
              <input type="text" id="deleteProjectId" class="form-control-plaintext"
                     placeholder="Project ID" name="projectID" [(ngModel)]="deleteProject.projectId" [ngModelOptions]="{standalone: true}"
                     disabled="disabled">
            </div>
          </div>

          <div class="form-group row">
            <label for="deleteProjectName" class="col-sm-4 col-form-label">Project Name</label>
            <div class="col-sm-8">
              <input type="text" id="deleteProjectName" class="form-control-plaintext"
                     placeholder="Project Name" name="projectName" [(ngModel)]="deleteProject.projectName"
                     disabled="disabled">
            </div>
          </div>

          <div class="alert alert-warning text-warning" role="alert">
            Are you sure you want to delete?
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
          <button class="btn btn-success" data-dismiss="modal" (click)="onDeleteConfirmClick()">Delete</button>
        </div>
      </div>
    </div>
  </div>
</form>


