<nav class="navbar navbar-expand-sm navbar-dark bg-success">
  <a class="navbar-brand" href="#">Cotivit</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navId" aria-controls="navId" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navId">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin','dashboard']">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  [routerLink]="['/admin','about']">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  [routerLink]="['/admin','projects']">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  [routerLink]="['/admin','signup']">SignUp</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="icon"><i class="fa fa-search"></i> </span>
        </div>
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </div>
      <button class="btn btn-warning my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
